* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .header {
    padding: 30px;
    text-align: justify;
    background: #f8cfb1;
    color: white;
  }

  .image1 {
    padding-left: 20px;
    float: left;
    margin-right: 20px;
  
  }
  
  .navbar {
    display: flex;
    background-color: #e28358;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li.utama {
    display: inline-table;
  }
  
  .navbar ul li :hover {
    background-color: #5e3f2e;
  }
  
  .navbar ul li a {
    display: block;
    text-decoration: none;
    line-height: 40px;
    padding: 0 10px;
    color: #fff;
  }
  
  .utama ul {
    display: none;
    position: absolute;
    z-index: 2;
  }
  
  .utama:hover ul {
    display: block;
  }
  
  .utama ul li {
    display: block;
    background-color: #e28358;
    width: 140px;
  }
  
  .main {
    display: flex;
    flex-wrap: wrap;
  }
  
  .content {
    flex: 70%;
    padding: 20px;
  }

  .syarat {
    background-color: #fdebda;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .syarat1 {
    background-color: #fdebda;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .syarat2 {
    background-color: #fdebda;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .syarat3 {
    background-color: #fdebda;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .syarat4 {
    background-color: #fdebda;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .syarat5 {
    background-color: #fdebda;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .syarat6 {
    background-color: #fdebda;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .sidebar {
    flex: 30%;
    background-color: #f7f6f6;
    padding: 20px;
  }
  
  .footer {
    padding: 1px;
    text-align: center;
    background: #e28358;
    font-size: 12px;
  }

  .gal-j {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .gal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


  div.gallery1 {
    border: 1px solid #ccc;
    border-width: 0.5px;
    padding-top: 10px;
  }

  div.gallery2 {
    border: 1px solid #ccc;
    border-width: 0.5px;
    padding-top: 5px;
  }

  div.gallery3 {
    border: 1px solid #ccc;
    border-width: 0.5px;
    padding-top: 5px;
  }

  div.gallery4 {
    border: 1px solid #ccc;
    border-width: 0.5px;
    padding-top: 5px;
  }

  div.gallery:hover {
    border: 1px solid #777;
    border-width: 0.5px;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

  .responsive {
    padding: 0 6px;
    float: left;
    width: 23.99999%;
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


  
  @media screen and (max-width: 768px) {
    .main,
    .navbar {
      flex-direction: column;
    }
  }